.bg-light {
    background-color: map-get($colores, color-fondo) !important;
}

.navbar-light {
    .navbar-brand {
        color: map-get($colores, color-blanco);
    }
}

.navbar-light {
    .navbar-brand {
        &:hover {
            color: map-get($colores, color-blanco);
            background: map-get($colores, color-negro);
            text-shadow: 0 0 5px map-get($colores, color-blanco), 0 0 10px map-get($colores, color-blanco), 0 0 15px map-get($colores, color-blanco), 0 0 20px #d2ac7f, 0 0 30px #d2ac7f, 0 0 40px #d2ac7f, 0 0 55px #d2ac7f, 0 0 75px #d2ac7f;

        }
    }
}

.navbar-toggler-icon {
    background: url('https://api.iconify.design/ph/list-light.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/ph/list-light.svg?color=white');
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: map-get($colores, color-blanco);
        }
    }
}



.navbar-light {
    .navbar-nav {
        .nav-link.active {
            color: map-get($colores, color-blanco);
        }
    }
}





.navbar-light {
    .navbar-nav {
        .nav-link {
            &:hover {
                color: map-get($colores, color-blanco);
                background: map-get($colores, color-negro);
                text-shadow: 0 0 5px map-get($colores, color-blanco), 0 0 10px map-get($colores, color-blanco), 0 0 15px map-get($colores, color-blanco), 0 0 20px #d2ac7f, 0 0 30px #d2ac7f, 0 0 40px #d2ac7f, 0 0 55px #d2ac7f, 0 0 75px #d2ac7f;
            }
        }
    }
}




.navbar-light {
    .navbar-toggler {
        color: map-get($colores, color-blanco);
        border-color: map-get($colores, color-blanco);
    }
}